@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --page-color: hsl(226, 43%, 10%);
}

html {
  font-size: 18px;
  font-family: 'Rubik';
}

body {
  background-color: var(--page-color);
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 400px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    gap: 1.5rem;
    display: grid;
    min-height: 26.7rem;
    max-height: 26.7rem;
    min-width: 58.5rem;
    max-width: 58.5rem;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  }

}